body {background-color: #ADD8E6; color: black;}
h1, h2 {font-family: Arial, sans-serif; 
		text-transform: uppercase;}
h2 {background-image: url(images/BettyCrockerLogo.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain; }
ul,ol {margin-left: 2em;}
p {text-align: center;}
img {box-shadow: 5px 5px 5px #828282;
	border: 3px solid #000000;
	border-radius: 15px; }
